<body id="Travel-Done">

<div class="background-container" style= "background-image: url(<%= image_url('arrival.jpg') %>">>

<div class="done">
  <strong class="done2">お問合せ送信完了</strong>>
  <p class="done3">
     お問合せ頂き誠に有難うございました。<br>
  	ご返信までお時間を頂きますが、今暫くお待ち下さい。
  </p>
</div>

</div>

 <!-- <meta http-equiv="refresh" content="5;URL=/about_top"> -->
</body>