<div class="About-main">

<div class="About-title">
  <div class="About-title2">About</div>
</div>

<div class="About-sub">
  <div class="About-sub2">TABIHAMAについて</div>
</div>

<div class="My-profile">
  <div class="My-profile2">自己紹介</div>
  <p class="My-text">私は、、、、、、、、、、、、</p>
</div>

<div class="My-image">
	<!-- <img src="assets/mikoshi.jpg" class= "img3"></div> -->

  <div class="my-icon">
	<p class="my-icom-title">SNS</p>
  	<i class="fab fa-line fa-3x my-line"></i>

 	<a href=""><i class="fab fa-instagram fa-3x my-insta"></i></a>
 	<!--<div class="line-it-button" data-lang="ja" data-type="" data-color="default" data-size="small" style="display: none;"></div>
 	<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>-->

	<a href="https://twitter.com/kattakatao"><i class="fab fa-twitter fa-3x my-twitter"></i></a>

	<a href=""><i class="fab fa-facebook-f fa-3x my-facebook"></i></a>
  </div>

  <div class="line-icon">
  	<div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="kattakatao" style="display: none;"></div>
 	<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>

  <!-- <ul class="slider">
     <li><a href="#"><img src="assets/guam.jpg" alt="image01"></a></li>
    <li><a href="#"><img src="assets/mikoshi.jpg" alt="image02"></a></li>
    <li><a href="#"><img src="assets/guam.jpg" alt="image03"></a></li>
</ul>
<ul class="thumb">
    <li><a href="#"><img src="assets/guam.jpg" alt="image01"></a></li>
    <li><a href="#"><img src="assets/mikoshi.jpg" alt="image02"></a></li>
    <li><a href="#"><img src="assets/guam.jpg" alt="image03"></a></li>
</ul> -->


<!-- <div id="wrap">
  <ul id="slider">
    <li class="slide-item"><img data-lazy= "assets/guam.jpg"  alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/guam.jpg"  alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/guam.jpg"  alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/guam.jpg"  alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/guam.jpg"  alt="画像"></li>
    <li class="slide-item"><img data-lazy="assets/guam.jpg"  alt="画像"></li>
  </ul>
  <ul id="thumbnail-list">
    <li class="thumbnail-item"><img src="assets/guam.jpg"  alt="画像"></li>
    <li class="thumbnail-item"><img src="assets/guam.jpg"  alt="画像"></li>
    <li class="thumbnail-item"><img src="assets/guam.jpg" alt="画像"></li>
    <li class="thumbnail-item"><img src="assets/guam.jpg"  alt="画像"></li>
    <li class="thumbnail-item"><img src="assets/guam.jpg"  alt="画像"></li>
    <li class="thumbnail-item"><img src="assets/guam.jpg"  alt="画像"></li>
  </ul>
</div> -->


</div>