<body id="Travel">

  <div class="container1">
  	<span class="about-top-title">旅の素晴らしさを</span>
	<span class="about-top-title2">あなたにも知ってもらいたい</span>
  <%= image_tag('guam.jpg', class: "img1") %>
	<div class="bubble-wrap">

	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>
	  <div class="bubble"></div>

	</div>
  </div>

</body>
