<div class="About-main" style= "background-image: url(<%= image_url('sea.jpg') %>">>


<div class="Tabihama-Title">
  <span class="Tabihama-Title-Text">TABIHAMAについて</span>
</div>

<div class="Tabihama-content">
  <span class="Tabihama-content-text">多くの方に旅行(旅)の素晴らしさを知ってもらうサイトです</span>
</div>

<div class="Tabihama-Function">
  <span class="About-User">会員様が使える３大機能</span>
</div>

<div class="Function-Favorite">
  <p class="About-Favorite">１、いいね機能</p>
  <%= image_tag 'About-Favorite.jpg', class: "About-img" %>
    <p class="About-Favorite-Text">
    管理者が紹介する旅行記事に対して、検索ワードを入力し、<br>
      <span class="Click">１クリック</span>でいいね❤️することが出来ます。<br>
     いいねした記事は<span class="Click">マイページ</span>に記録されます。</p>
</div>

<div class="Function-Comment">
  <p class="About-Comment">２、コメント機能</p>
  <%= image_tag 'About-Comment.jpg', class: "About-img" %>
     <p class="About-Comment-Text">管理者が紹介する旅行記事に対して、<br><span class="Click">コメント</span>をすることが出来ます。<br>コメントした記事は<span class="Click">マイページ</span>に記録されます。</p>
</div>

<div class="Function-Contact">
  <p class="About-Contact">３、お問い合わせ機能</p>
  <%= image_tag 'About-index.jpg', class: "About-img" %>
     <p class="About-Contact-Text">旅行を計画中の方や、<br>旅先のおすすめの場所を知りたい方向けです。<br>
     お問い合わせをいただくと、<br>
     実際に旅行を計画したり<br>おすすめの場所をお伝えしたりします。<br>
   ⚠️あくまでも提案するのみであり、<br>予約等は<span class="Click">お客様ご自身で</span>お願い致します。</p>
</div>

</div>

<div id="sub-contain">

<div id="My-Profile-Main">
  <div class="My-profile">
    <span class="My-Profile-Title">Profile</span>
  </div>

  <div class="flexcontainer">
    <div class="flow-item">
      <h3 class="My-Hobby-Title">趣味</h3>
      <ul class="My-Hobby-Text">
        <li>ドライブ<br>（運転する側)</li>
        <li>旅行</li>
        <li>スポーツ観戦<br>(サッカー・野球等)</li>
      </ul>
    </div>

    <div class="flow-item">
      <h3 class="My-Qualification-Title">資格</h3>
      <ul class="My-Qualification-Text">
        <li>第一種普通自動車運転免許<br>(2012年1月取得)</li>
        <li>国内旅行業務取扱管理者<br>(2012年10月取得)</li>
        <li>総合旅行業務取扱管理者<br>(2013年11月取得)</li>
      </ul>
    </div>


    <div class="flow-item">
      <h3 class="My-Career-Text">経歴</h3>
        <p>旅行会社JTBの専門学校を卒業後、<br>
          都内にある某有名日系ホテルに入社。<br>
          ロビーフロアにあるレストランのウェイターとして勤め、転職。<br>
          その後全国の空港を飛び回り、<br>
          空港でクレジットカードの新規獲得営業を経験後転職し、<br>
          海外ブランドのホテル向けアメニティを国内のホテルに営業する仕事を経験。<br>
          友人の勧めからエンジニアに興味を持ち、<br>
          2019年8月からプログラミングスクールに通い、現在は転職活動中。</p>
  </div>
</div>

</div>
</div>


<!-- <div id= "SNS">

  <div class="My-SNS">
    <span class="My-SNS-Title">SNS</span>
  </div>

  <div class="line-icon">
  	<div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="kattakatao" style="display: none;"></div>
 	<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  <li><a href="ttps://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" class="flowbtn5 fl_li1"><i class="fab fa-line"></i><div>LINE＠</div></a></li>
  </div>

  <ul class="snsbtniti">
   <div class="Twitter">
    <li><a href="https://twitter.com/kattakatao" class="flowbtn5 fl_tw1"
    ><i class="fab fa-twitter"></i><div>Twitter</div></a></li>
   </div>

   <div class="Instagram">
      <li><a href="https://www.instagram.com/kattakatao/" class="flowbtn5 insta_btn5"><i class="fab fa-instagram"></i><div>Instagram</div></a></li>
   </div>

   <div class="Facebook">
      <li><a href="https://www.facebook.com/kattakatao" class="flowbtn5 fl_fb1"><i class="fab fa-facebook-f"></i><div>Facebook</div></a></li>
   </div>
</ul>
</div> -->



<footer>
  </footer>
