<div class="About-main" style= "background-image: url(<%= image_url('sea.jpg') %>">>


<div class="Tabihama-Title">
  <span class="Tabihama-Title-Text">TABIHAMAについて</span>
</div>

<div class="Tabihama-content">
  <span class="Tabihama-content-text">多くの方に旅行(旅)の素晴らしさを知ってもらうサイトです</span>
</div>

<div class="Tabihama-Function">
  <span class="About-User">会員様が使える３大機能</span>
</div>

<div class="Function-Favorite">
  <p class="About-Favorite">１、いいね機能</p>
    <%#= image_tag("sea.jpg") class: "About-Favorite-img" %>
    <!-- <img src="<%#= asset_path "" %> class= "About-Favorite-img" /> -->
     <!-- <img src="<%#= asset_path "About-Favorite-img.jpg" %>" class= "About-Favorite-img" >
     <img src="<%#= asset_path "sea.jpg" %>">
     <p class="About-Favorite-Text"> -->管理者が紹介する旅行記事に対して、検索ワードを入力し、<br>
      <span class="Click">１クリック</span>でいいね👍することが出来ます。<br>
     いいねした記事は<span class="Click">マイページ</span>に記録されます。</p>
</div>

<div class="Function-Comment">
  <p class="About-Comment">２、コメント機能</p>
   <img src=" /images/About-Favorite-img.jpg" class= "About-Favorite-img">
     <p class="About-Comment-Text">管理者が紹介する旅行記事に対して、<br><span class="Click">コメント</span>をすることが出来ます。<br>コメントした記事は<span class="Click">マイページ</span>に記録されます。</p>
</div>

<div class="Function-Contact">
  <p class="About-Contact">３、お問い合わせ機能</p>
  <img src=" /images/About-Favorite-img.jpg" class= "About-Favorite-img">
     <p class="About-Contact-Text">旅行を計画中の方や、<br>旅先のおすすめの場所を知りたい方向けです。<br>
     お問い合わせをいただくと、<br>
     実際に旅行を計画したり<br>おすすめの場所をお伝えしたりします。<br>
   ⚠️あくまでも提案するのみであり、<br>予約等はお客様個人でお願い致します。</p>
</div>

</div>


<div id="My-Profile-Main">

  <div class="My-profile">
  <span class="My-Profile-Title">自己紹介</span>
  <p class="My-text">199326歳</p>
</div>

<div class="My-image">
	<!-- <img src=" /images/mikoshi.jpg" class= "about-image"></div> -->

  <div class="my-icon">
	<p class="my-icom-title">SNS</p>
  	<i class="fab fa-line fa-3x my-line"></i>

 	<a href=""><i class="fab fa-instagram fa-3x my-insta"></i></a>

  <ul class="snsbtniti">
    <li><a href="https://twitter.com/kattakatao" target="_blank" class="flowbtn5 fl_tw1"><i class="fab fa-twitter"></i><div>Twitter</div></a></li>
    <li><a href="https://www.instagram.com/kattakatao/" target="_blank" class="flowbtn5 insta_btn5"><i class="fab fa-instagram"></i><div>Instagram</div></a></li>

	<a href="https://twitter.com/kattakatao"><i class="fab fa-twitter fa-3x my-twitter"></i></a>

	<a href=""><i class="fab fa-facebook-f fa-3x my-facebook"></i></a>
</ul>
  </div>

  <div class="line-icon">
  	<div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="kattakatao" style="display: none;"></div>
 	<script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
  </div>


  </div>
</div>