* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.About-main {
	width: 100%;
	height: 1700px;
	background-color: silver;
	// background-image: url(/images/sea.jpg);
	background-size: cover;
}

.About-title {
	text-align: center;
}

.About-title2 {
	font-size: 35px;
	display: inline-block;
	padding-top: 15px;
}

.About-Sub {
	text-align: center;
}

.Tabihama-Title {
	text-align: center;
	padding-top: 5%;
}

.Tabihama-Title-Text {
	position: relative;
	padding-left:  25px;
	font-size: 30px;
	letter-spacing: 2px;
}

.Tabihama-Title-Text:before {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px black;
}

.Tabihama-Title-Text:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px black;
}

.Tabihama-content {
	text-align: center;
	margin-top: 7%;
}

.Tabihama-content-text {
	background-color: yellow;
	// display: inline-block;
	padding: 10px;
	margin:  30px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	white-space: nowrap
}

.Function-Favorite {
	// text-align: center;
	margin-top: 5%;
}

.Tabihama-Function {
	text-align: center;
	margin-top: 7%;
}

.About-User {
	position: relative;
	padding-left:  25px;
	font-size: 30px;
}

.About-User:before {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px black;
}

.About-User:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px black;
}

.About-Favorite {
	padding-left: 5%;
	font-weight: bold;
	font-size: 20px;
}

.About-Favorite-img {
	padding-left: 10%;
	padding-bottom: 5%;
}

.Function-Favorite .About-Favorite-Text {
	// display: inline-block;
	font-size: 20px;
	text-align: center;
	margin-left: 5%;
	padding: 5px;
}

.About-Favorite-Text {
	line-height: 30px;
	background-color: rgba( 255, 241, 0, 0.60 );
	color: black;
	white-space: nowrap;
	letter-spacing: 2px;
	display: inline-block;
}

.Click {
	color: red;
}

.Function-Comment .About-Comment-Text {
	display: inline-block;
	font-size: 20px;
	text-align: center;
	margin-left: 6%;
	padding: 5px;
}

.About-Comment-Text {
	line-height: 30px;
	background-color: rgba( 255, 241, 0, 0.60 );
	color: black;
	white-space: nowrap;
	letter-spacing: 2px;
}

.About-Comment {
	padding-left: 5%;
	font-weight: bold;
	font-size: 20px;
}

.About-Contact {
	padding-left: 5%;
	font-weight: bold;
	font-size: 20px;
}

.Function-Contact .About-Contact-Text {
	display: inline-block;
	font-size: 20px;
	text-align: center;
	margin-left: 6%;
	padding: 5px;
}

.About-Contact-Text {
	line-height: 30px;
	background-color: rgba( 255, 241, 0, 0.60 );
	color: black;
	white-space: nowrap;
	letter-spacing: 2px;
}

.About-User {
	text-align: center;
}

#My-Profile-Main {
	height: 500px;
	background-color: silver;
}

.My-profile{
	text-align: center;
	padding-top: 3%;
}

.My-Profile-Title {
	position: relative;
	padding-left:  25px;
	font-size: 30px;
	letter-spacing: 2px;
}

.My-Profile-Title:before {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 0;
	width: 0;
	height: 0;
	border: none;
	border-left: solid 15px transparent;
	border-bottom: solid 15px black;
}

.My-Profile-Title:after {
	position: absolute;
	content: '';
	bottom: -3px;
	left: 10px;
	width: 100%;
	border-bottom: solid 3px black;
}








.My-text {
	padding-left: 50%;
}

.img3 {
	height: 200px;
	border-radius: 70%;
}

.my-icom-title {
	font-size: 20px;
	font-family: 'Hiragino Kaku Gothic StdN';
}

.my-icon {
	margin: 5px;
}

.my-line {
	color: #33CC33;
	padding-left: 20px;
}

.line-it-button {
	text-align: left;
}

.my-twitter {
	padding: 0 5px;
}

.my-insta {
	color: purple;
}

//SNSアイコン//
.flowbtn5 {
	font-family: 'Times New Roman',sans-serif;
	border-radius: 13px;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 33px;
	color: #fff!important;
	transition: .5s;
	text-decoration: none;
}

.flowbtn5 i {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform:taranslate(-50%, -50%);
	-webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.fl_tw1 {
	background-color: #55acee;
}

.flowbtn5 div {
	font-size: 20px;
	color: #666;
	position: relative;
	top: 50px;
	right: 8px;
}

.flowbtn5:hover {
	-webkit-transform:translate(-5px);
	-ms-transform:translateY(-5px);
	transform:translateY(-5px);
	text-decoration: none;
}

ul.snsbtniti {
	padding: 0!important;
}

.snsbtniti {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.snsbtniti li {
	flex:0 0 33%;
	text-align: center!important;
}

/* Instagram紫背景色 */
.insta_btn5 {
	background: -webkit-linear-gradient(135deg, #427eff 0%, #427eff 0%, #f13f79 70%) no-repeat;
	background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
}