* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.About-main {
	width: 100%;
	height: 1080px;
	background-color: silver;
}

.About-title {
	text-align: center;
}

.About-title2 {
	font-size: 35px;
	display: inline-block;
	padding-top: 15px;
}

.About-sub {
	text-align: center;
}

.About-sub2 {
	text-align: center;
	font-size: 20px;
	margin-top: 15px;
	border-bottom: 1px solid black;
	display: inline-block;
	padding-top: 15px;
}

.My-profile{
	text-align: center;
}

.My-profile2 {
	font-size: 20px;
	margin-top: 15px;
	border-bottom: 1px solid black;
	display: inline-block;
	padding-top: 15px;
}

.My-text {
	padding-left: 50%;
}

.img3 {
	height: 200px;
	border-radius: 70%;
}

.my-icom-title {
	font-size: 20px;
	font-family: 'Hiragino Kaku Gothic StdN';
}

.my-icon {
	margin: 5px;
}

.my-line {
	color: #33CC33;
	padding-left: 20px;
}

.line-it-button {
	text-align: left;
}

.my-twitter {
	padding: 0 5px;
}

.my-insta {
	color: purple;
}

//SNSアイコン//
.flowbtn5 {
	font-family: 'Times New Roman',sans-serif;
	border-radius: 13px;
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 33px;
	color: #fff!important;
	transition: .5s;
	text-decoration: none;
}

.flowbtn5 i {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform:taranslate(-50%, -50%);
	-webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.fl_tw1 {
	background-color: #55acee;
}

.flowbtn5 div {
	font-size: 11px;
	color: #666;
	position: relative;
	top: 45px;
}

.flowbtn5:hover {
	-webkit-transform:translate(-5px);
	-ms-transform:translateY(-5px);
	transform:translateY(-5px);
	text-decoration: none;
}

ul.snsbtniti {
	padding: 0!important;
}

.snsbtniti {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

.snsbtniti li {
	flex:0 0 33%;
	text-align: center!important;
}
/////
// #wrap{
//   background-color: #333;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   height: 100vh;
// }
// #slider{
//   width: 300px;
//   margin:0 auto 30px;
// }
// .slide-item{
//   img{
//     width: 100%;
//   }
// }
// #thumbnail-list{
//   width: 300px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-between;
//   flex-wrap:wrap;
// }
// .thumbnail-item{
//   flex: 0 1 30%;
//   margin-bottom: 10px;
//   box-sizing: border-box;
//   position:relative;
//   &:after{
//     content:'';
//     background-color: rgba(0,0,0,0.5);
//     position:absolute;
//     display: block;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     opacity: 1;
//     transition: .3s opacity linear;
//   }
//   &.thumbnail-current:after{
//     opacity: 0;
//   }
//   img{
//     width: 100%;
//     margin: 0 auto;
//   }
// }