/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "slick-theme";
@import "slick";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.drawer-hamburger-icon {
	color: white;
}

.drawer-toggle .drawer-hamburger {
	color: white;
	background-color: white;
}

.sr-only {
	color: white;
	background-color: white;
}

.banner {
	color: white;
	background-color: white;
}

.drawer .drawer--left {
	color: white;
	background-color: white;
}

.drawer-nav {
	text-align: center;
	color: black;
	background-image: url(/images/TABIHAMA4.png);
	background-size: cover;
}

.drawer-title {
	font-size: 25px;
	letter-spacing: 3px;
	color: white;
	padding-top: 80%;
}

.drawer-home {
	padding-top: 5px;
}

.drawer-home2 {
	font-size: 15px;
	color: white;
	letter-spacing: 3px;
}

.drawer-home2:hover {
	color: black;
}

.drawer-about-top {
	padding-top: 5px;
}

.drawer-about-top2 {
	font-size: 15px;
	color: white;
	letter-spacing: 3px;
}

.drawer-about-top2:hover {
	color: black;
}

.drawer-about {
	padding-top: 5px;
}

.drawer-about2 {
	font-size: 15px;
	color: white;
	letter-spacing: 3px;
}

.drawer-about2:hover {
	color: black;
}

.Drawer-Post-New {
	padding-top: 5px;
}

.Drawer-Post-New2 {
	font-size: 15px;
	color: white;
	letter-spacing: 3px;
}

.Drawer-Post-New2:hover {
	color: black;
}

.drawer-posts {
	padding-top: 5px;
}

.drawer-posts2 {
	font-size: 15px;
	color: white;
	letter-spacing: 5px;
}

.drawer-posts2:hover {
	color: black;
}

.drawer-index {
	padding-top: 5px;
}

.drawer-index2 {
	font-size: 15px;
	color: white;
	letter-spacing: 5px;
}

.drawer-index2:hover {
	color: black;
}

.drawer-log-in {
	padding-top: 5px;
}

.drawer-log-in2 {
	font-size: 15px;
	color: white;
	letter-spacing: 5px;
}

.drawer-log-in2:hover {
	color: black;
}

.drawer-log-out {
	padding-top: 5px;
}

.drawer-log-out2 {
	font-size: 15px;
	color: white;
	letter-spacing: 5px;
}

.drawer-log-out2:hover {
	color: black;
}

.drawer-mypage {
	padding-top: 5px;
}

.drawer-mypage2 {
	font-size: 15px;
	color: white;
	letter-spacing: 5px;
}

.drawer-mypage:hover {
	color: black;
}

.drawer-sign-up {
	padding-top: 5px;
}

.drawer-sign-up2 {
	font-size: 15px;
	color: white;
	letter-spacing: 5px;
}

.drawer-sign-up2:hover {
	color: black;
}