//ユーザーサインアップ画面//

#Sign-up {
	overflow: hidden;
	width: 100%;
	background-color: black;
}

.box {
  margin-top: 100px;
  top: 0;
  bottom: 0;
  left: 33%;
  right: 0;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  border: 1em  solid #FF66FF;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: black;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  text-align: center;
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: aqua;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  //background: red;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: white;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  //background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.user-name {
	position: absolute;
	left: 7%;
	top: 55%;
	font-size: 20px;
	color: white;
}

.user-name2 {
	position: absolute;
	top: 55%;
	left: 50%;
	width: 200px;
	z-index: 2;
}

.user-email {
	position: absolute;
	left: 7%;
	top: 65%;
	font-size: 20px;
	color: white;
}

.user-email2 {
	position: absolute;
	top: 65%;
	left: 50%;
	width: 200px;
	z-index: 2;
}

.user-password {
	position: absolute;
	left: 7%;
	top: 75%;
	font-size: 20px;
	color: white;
}

.user-password2 {
	position: absolute;
	top: 75%;
	left: 50%;
	width: 200px;
}

.user-password-agein {
	position: absolute;
	left: 7%;
	top: 85%;
	font-size: 20px;
	color: white;
}

.user-password-agein2 {
	position: absolute;
	top: 85%;
	left: 50%;
	width: 200px;
}

.facebook-sign-up {
	position: absolute;
	top: 93%;
	left: 7%;
	font-size: 20px;
	color: white;
}

.google-sign-up {
	position: absolute;
	top: 93%;
	left: 47%;
	font-size: 20px;
	color: white;
}


.user-sign-up-submit {
	position: absolute;
	top: 94%;
	left: 85%;
	font-size: 15px;

}

//ユーザーログイン画面//

#log-in {
	overflow: hidden;
	width: 100%;
	background-color: black;
}

.user-log-in-main {
	width: 100%;
	height: 962px;
	background-color: black;
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: aqua;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
  //background: red;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: white;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  //background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

.Log-in-name {
	position: absolute;
	left: 7%;
	top: 55%;
	font-size: 20px;
	color: white;
}

.Log-in-name2 {
	position: absolute;
	top: 55%;
	left: 50%;
	width: 200px;
	z-index: 2;
}

.Log-in-password {
	position: absolute;
	left: 7%;
	top: 63%;
	font-size: 20px;
	color: white;
}

.Log-in-password2 {
	position: absolute;
	top: 63%;
	left: 50%;
	width: 200px;
}

.twitter-log-in {
	position: absolute;
	top: 78%;
	left: 7%;
	font-size: 20px;
	color: white;
}

.google-log-in {
	position: absolute;
	top: 85%;
	left: 7%;
	font-size: 20px;
	color: white;
}

.password-remember {
	position: absolute;
	top: 71%;
	left: 50%;
}

.password-remember2 {
	position: absolute;
	top: 70%;
	left: 7%;
	font-size: 20px;
	color: white;
}

.user-log-in-submit {
	position: absolute;
	top: 75%;
	left: 90%;

}

.Forgot-your-password {
	position: absolute;
	top: 95%;
	left: 60%;
	font-size: 17px;
	color: white;
}

.Sign-up {
	position: absolute;
	top: 92%;
	left: 7%;
	font-size: 20px;
	color: white;
}
