// Place all the styles related to the end_users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#mypage {
	position: relative;
	overflow: hidden;
	background-size: cover;
	width: 100%;
	height: 40vh;

}

.mypage2 {
	padding-top: 5%;
}

.mypage-title {
	color: white;
	text-align: center;
}

.myname {
	text-align: center;
}

.myemail {
	text-align: center;
}

.mypage-name {
	color: white;
	font-size: 25px;
	letter-spacing: 0.1em;
}

.mypage-name2{
	color: white;
	font-size: 20px;
	letter-spacing: 0.1em;
}


.mypage-email {
	color: white;
	font-size: 20px;
	padding-top: 5px;
}

.mypage-email2{
	color: white;
	font-size: 20px;
	letter-spacing: 0.1em;
}

.like-end-user {
	color: white;
	padding-top: 30px;
}

.comment-end-user {
	position: absolute;
	top: 100%;
	left: 15%;
	text-align: center;
	color: white;
	padding-top: 15px;
}

.comment_title {
	margin-top: 30px;
}

.comment_title2 {
	color: white;
	font-size: 20px;
	letter-spacing: 0.1em;
}

.comment_title2:hover {
	color: black;
}

// .like-comment-end-user {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// }

.like-end-user {
	position: absolute;
	top: 100%;
	left: 70%;
	text-align: center;
	color: white;
	padding-top: 15px;
}

// .like-comment-end-user:last-child {
// 	padding-left: 50%;
// }

// .like-comment-end-user:first-child {
// 	padding-top: 0;
// }
